.category-select{
    background-color:rgb(218, 203, 203);
    width:100%;
}

.select-title{

    background-color:#5d6b9f;
    color:white;
    height:50px;
  
    height: 52px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.73;
    padding-left: 20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0px 20px;
    font-weight:600;
    cursor:pointer;

}

.category-option{
    height:50px;
    color:#49547d;
    background-color:#ecedf5;
    font-weight:bold;
    display:flex;
    justify-content:flex-start;
    padding:0px 30px;
    align-items:center;
    cursor:pointer;
}

.category-option:hover{
    background-color:#d1d4f1;
}