@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');



*::after, *::before {
  box-sizing:border-box;
  font-family: 'Karla', sans-serif;
}

.App {
  text-align: center;
}

.select{
  width:260px;
  height:50px;
  height:fit-content;
  background-color:aquamarine;
  cursor:pointer;
}

.select__title{
  background-color:#5d6b9f;
  color:white;
  height:50px;

  height: 52px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.73;
  color: #ffffff;
  padding-left: 20px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0px 20px;
  font-weight:600;
}

.select__logo{
display:flex;
align-items:center;
}

.icon{
  font-size: 28px;
  color: white;
  
}


.icon__rotate{
  transform: rotate(180deg);
}



.sort__option{
  height:50px;
  color:#49547d;
  background-color:#ffffff;
  font-weight:bold;
  display:flex;
  justify-content:flex-start;
  padding:0px 30px;
  align-items:center;
  
}



.select__option:hover{
background-color:#dbdff2;
}


/* SORT */

.sort__select{
  
  color:#a8a4a4;
  background-color:white;
  height:fit-content;
  position:relative;
  display:flex;
  justify-content:space-between;
}

.sort-logo{
  padding:0px 10px;
}

.sort-type{
  padding:0px 10px;
}
.sort__head{
  display:flex;
  justify-content:flex-start;
  align-items:center;
  height:50px;
  padding:0px 10px;
  font-size:14px;
  cursor:pointer;
  white-space:nowrap;
}

.sort__head:active{
  color:#969393;
}

.sort__options{
position:absolute;


}

.sort__option{
  height:33px;
  width:180px;
  padding:0px 10px;
  display:flex;
  align-items:center;
  justify-content: flex-start;
  color:#2b3536;
  /* background-color:#f9fbee; */
  border:1px solid #c9c9c954;
  font-size:14px;
  cursor:pointer;
  
}

.sort__option:hover{
  background-color:#edf2fb;

}

.sidebar-flag{
  width:20px;
  
}

#add_product-btn{
background-color: rgb(97, 213, 223);
color:white;
margin-right:30px;
height:35px;
}
#add_product-btn:hover{
  background-color: rgb(64, 139, 146);
}