/* sidebar */

.sidebar{
    background-color:#f8f9fa;
    position:fixed;
    height:100%;
    width:257px;
    top:0px;
    left:50px;
  
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  
  /* selects */
  
  
  #light_select{
    background-color:#9DA9D5;
  }

