/* nav */

.nav {
  flex: 1;
  max-width: 500px;
  display: flex;
  border: 1px solid rgb(133, 133, 133, 0.5);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.nav__search-input {
  flex: 1;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 8px;
}

.search-btn {
  font-size: 20px;
  transform: rotate(90deg);
  padding: 0px 5px;
  cursor:pointer;
  white-space: nowrap;
}
