.main{
    width:calc(100vw - 307px);
    height: calc(100vh - 125px);
    position:absolute;
    top:125px;
    left:307px;
    overflow-y: scroll;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-auto-rows: 420px;
    grid-gap: 20px;
    gap: 20px;
    padding: 25px;
    box-sizing: border-box;
}

.product{
    
    
    max-height:450px;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    flex-direction:column;
    position:relative;
    border:2px solid rgba(185, 185, 185, 0.287);
    border-radius:10px;
    background-color: white;
    cursor:pointer;
}

.product:hover{
  border-color:#61d5df;
}


.product__img{
    min-height:280px;
    max-height:280px;
    width:100%;
    display:flex;
    align-items:flex-end;
    justify-content:center;

}
.product__img img{
    max-width:260px;
    object-fit: contain;
    max-height:280px;
    padding:10px;
    box-sizing:border-box;


}

.product__title{

    height: fit-content;
    text-transform: uppercase;
    overflow: hidden;
    font-size: 14px;
    font-weight:bold;
    color: #3b3b3b;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    margin:10px 0px;
    padding:0px 10px;
    max-height:35px;
    max-width:92%;
    line-height: 20px;
}





.product__price{
    width:94%;
    border-top:1px solid rgba(169, 169, 169, 0.44);
    max-height:30px;
    font-family: "Gilroy";
    font-size: 21px;
    color: #3b3b3b;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:10px;
    text-align: left;

}

.product__head{
    position:absolute;
    top:0px;
    left:0px;
    display:flex;
    justify-content:space-between;
    width:calc(100% - 20px) ;
    padding:15px 10px;
    text-align:left;

}

#quantity-wrapper{
    width: calc(100% - 10px);
    margin: 5px;
    border-top: 1px solid rgba(169, 169, 169, 0.44);
}

#quantity-wrapper p{
   display:inline-block; 
   margin:0px 20px;
   font-size:18px;
   font-weight:bold;
   color:rgb(97,213,223);
   margin-top:5px;
}

#quantity-wrapper button:nth-of-type(1){
   color:white;
   font-size:18px;
   font-weight: bold;
   background: rgb(97,213,223);
   margin-top:5px;
}
#quantity-wrapper button:nth-of-type(2){
    color:white;
    font-size:18px;
    font-weight: bold;
    background: rgb(97,213,223);
    margin-top:5px;
}

.product__head button{
    background-color:rgb(97,213,223);
    box-shadow: none;
}
.product__head button:hover{
    background: rgb(29, 194, 209);
    box-shadow: none;
}



/* modal */


.modal__content{
    flex:1;
    display:flex;
    border-radius:20px;
    background-color:white;
    padding:10px;
    overflow-x:hidden;
}

.modal__left-side{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    flex: 1;
    min-width:300px;
    border-radius:20px 0px 0px 20px;
    background-color:#fbfbfb;
}

.modal__price{
    color:gray;
    font-size:24px;
    margin:20px;
}

.modal__photo{
    display:flex;
    justify-content:center;
    align-items:center;
}

.modal__photo img{
    max-width:300px;
    max-height:600px;
}


.modal__right-side{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    flex:2;
    min-width:300px;
    box-sizing:border-box;
    padding:20px;
}

.modal__title{
    text-transform: uppercase;
    font-weight: bold;
    font-size:24px;
    text-align: center;
    margin:27px 0px;
    justify-self: flex-start;
    align-self: flex-start;
}

.modal__btn{
    background-color:#61d5df !important;
    color:white !important;
    justify-self: flex-end;
    align-self: flex-end;
    width:170px;
}
hr{
    width:100%;
    color:gainsboro;
}
.modal__description-title{
    text-align:right;
    font-size:20px;
    font-weight:18px;
    margin-bottom:5px;
    margin:20px 0px;
    justify-self: flex-start;
    align-self: flex-start;
}

.modal__description{
    font-size:18px;
    
    line-height: 1.5em;
    overflow-y: scroll;
    overflow-x:hidden;
    text-overflow: ellipsis;
    
}

.close-modal{
position:absolute;
right:15px;
top:10px;
cursor:pointer;
}

.MuiDialog-paperWidthSm{
    width:80% !important;
    max-width: 1000px !important;
    height:600px !important;
}