.priceRange{
    width:80%;
    margin:20px 0px;
}
.show-price{
    
    display:flex;
    justify-content:space-between;
}

.price{
background-color: white;
border:1px solid rgba(202, 189, 189, 0.589);
padding:2px 10px;
}