/* header */
.header{
  
    height:fit-content;
    margin-left:307px;
    width:calc(100vw - 307px);
    position:fixed;
    top:0;
    z-index:2;
  }
  
  /* header raw1 */
  
  .header__raw1{
    background-color: #f8f9fa;
    height:75px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-left:50px;
    padding-right:100px;
  }
  
@media only screen and (max-width:1250px){
  .header__raw1{
    padding-right:50px;
  }
}

  .header__left{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:15px;
    
  }
  
  .header__selected-items{
    
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    white-space: nowrap;
    color: #29304b;
    font-weight: 600;
    font-size: 12px;
  }
  
  .seperator {
    background-color: lightgray;
    margin: 3px 0px;
    padding: 3px 0.5px;
    height: 23px;
  
  }
  
  .header__right{
    flex:1;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    gap:10px;
    margin-left:10px;
  }

 
  
  .header__help-btn{
      font-size:23px;
      cursor:pointer;
  }
  



.main-nav-bar{
  display:none;
  background:none;
  border:none;

}
.main-nav-bar i {
  font-size: 20px;
}

@media only screen and (max-width:1075px){
  .main-nav-bar{
    display:inline-block !important;

  } 
}

.header__btn{
    background-color:#61d5df !important;
    color:white !important;
    
}

.btn-text{
  white-space: nowrap;
  margin:0px;
}