.profile{
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
    width:100%;
    background-color: rgb(209, 222, 226);
    height:100vh;
    min-height:600px;
}
.profile__content{
    display:flex;
    align-items:center;
    flex-direction:column;
    width:100%;
    margin-top:40px;
}
.profile__header{
    display:flex;
    height:60px;
    font-size:18px;
    align-items:center;
    justify-content:space-between;
    width:100%;
    background-color:rgb(229, 238, 240);
    
    
}

.profile__header h4{
    font-weight:bold;
    color:rgb(7, 82, 98);
    font-size:30px;
    margin-left:40px;
}

.save-changes-btn{
    padding: 0.75rem 1.5rem;
    outline: 0;
    border: 0;
    background: #2196f3;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: 0.25px;
    margin:40px auto;
    width:140px;
    cursor:pointer;
}

.containers-wrapper{
  width:400px;
  display:flex;
  justify-content:center;
  flex-direction:column;
  background-color: rgb(249, 251, 254);
}

.user-info__body {
  
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.personal-info__input{
    padding: 5px;
    border-radius: 4px;
    outline: 0;
    color: #212121;
    font-size: 0.875rem;
    width: calc(100% - 10px);
    border: 0.063rem solid #b0bec5;
    height:25px;
}


  .personal-info__form {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }


  .input__container{
    max-width:400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin:15px 0px;
    height:40px;
}

  .user-info__heading {
    margin: 15px;
    font-size: 23px;
    color: rgb(48, 56, 86);
  }


  
  .input-label {
    
    display: block;
    margin: 0 0 0.5rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    font-size: 0.875rem;
    color: #212121;
  }

  .personal-info__error-message {
    
    font-size: 16px;
    margin:5px 0px;
    color: red;
  }
  

