.cart {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-auto-rows: 400px;
    grid-gap: 20px;
    gap: 20px;
    padding: 25px;
    box-sizing: border-box;
    
}

.cart-title{
    font-size:28px;
    font-weight:bold;
    background-color:cornflowerblue;
    color:white;
    padding: 20px 0px;
}

.product__head{
    position:absolute;
    top:0px;
    left:0px;
    display:flex;
    justify-content:space-between;
    width:calc(100% - 20px) ;
    padding:15px 10px;

}
.MuiPaper-elevation1{
    box-shadow: none !important;
    margin-top:30px;
}

.remove-btn{
    cursor:pointer;
    font-size:20px;
}

.remove-btn:active{
    color:red;
}



