@import './reset.css';

.home{
  height:100vh;
  width:100vw;
  background-image:url("https://mk0q365dropshipe482k.kinstacdn.com/wp-content/uploads/2020/08/lasthero.png");
  background-position: center;
  background-size: cover;
}

.home__header{
  background-color:#3f4663CC;
  height:60px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.home__btn{
  margin:0px 10px;
  text-decoration: none;
  
}

.home__main{
 
  height:calc(100% - 60px);
  display:flex;
  justify-content:center;
  align-items:center;
}

.main__logo{
  height:300px;
  width:60%;
  background-color:#3f4663CC;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  margin:10px;
}

.logo__text{
  font-weight:400;
  font-size:36px;
  color:white;
  margin:10px;
}