.form{

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-color:white;
    border-radius:10px;
    padding:20px;
}

.login {
    background-image:url("https://mk0q365dropshipe482k.kinstacdn.com/wp-content/uploads/2020/08/lasthero.png");
    background-position: center;
    background-size: cover;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-title{
    margin-bottom:10px;
}
.form input{
    margin:20px;
    width:250px;
    outline:none;
    border-radius:10px;
    padding:10px;
    border:none;
    font-size: 18px;
    color: "#61d5df";
    border: 2px solid #b0bcbd;
    
}

.form input[type="submit"] {
    background-color:#61d5df;
    cursor:pointer;
    color:white;
    border-radius:3px;
    width:130px;

}

